html, body {
  font-family: Verdana,sans-serif;
  /* font-size: 50px; */
  line-height: 1.5;
  /* colors can be specified by name, or by "hex value" */
  color: #404040;
  background-color: #efebdc;
}


img {
    max-width: 800px;
}
