
#main {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%
}

.navbar, .sidebar {
  width: 20%;
}

.content {
  width: 55%;
}

@media screen and (max-width:800px) {
  #main {
    flex-wrap: wrap;
  }
  #main>* {
    width: 100%!important;
  }
}
