
body {
  background-color: #87645c;
  background-image: url("../img/alissona-dark-forest.jpg");
  background-size: cover;
}

.major-section {
  margin: 20px;
  padding: 10px;
  border: solid 1px #606060;
  border-radius: 5px;
  background-color: rgba(212, 156, 144, 0.5);
}

.minor-section {
  padding: 1px 20px;
  margin: 10px;
  background-color: #DDCDC7;
}

nav a {
  color: black;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
 }
